* { font-family: Helvetica, Arial, sans-serif; font-size: small; }
body { margin: 0; }
#header { padding: 0.5em; background: #eee; color: #555; }
#logo { font-weight: bold; font-size: 12pt; margin: 0; margin-right: 0.5em; display: inline-block; }
#search { margin: 0; padding: 0; display: inline-block; }
#search input[type='submit'] { margin-right: 1em; }

#q { border: 2px solid #aaa; border-radius: 0.25em; -moz-border-radius: 0.25em; 
	background: white url(search.png) no-repeat left center;
	padding: 2px; padding-left: 17px; }

h1 { font-size: 120%; margin-top: 0; }

#dym
{
	padding-left: 1em;
}
#results
{
	table-layout: fixed; /* Maybe a bad idea */
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
#results>th
{
	border: none;
}
#results a
{
	text-decoration: none;
	color: #555;
}
#results a:hover
{
	color: black;
}
#results a>img
{
	border: none;
	vertical-align: middle;
}
#results th
{
	padding: 3px;
	text-align: left;
	background: #eee !important;
}
table td
{
	border-left: 1px dotted #ddd;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: .3em .5em;
	vertical-align: top;

	overflow: hidden;
    white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
table th.asc a, table.listing th.desc a
{
	font-weight: bold;
}
table th.asc a, table.listing th.desc a
{
	background-position: 100% 50%;
	background-repeat: no-repeat;
}
table th.asc a
{
	background-image: url(../asc.png);
}
table th.desc a
{
	background-image: url(../desc.png)
}
table tr:nth-child(even) { background: #fcfcfc }
table tr:nth-child(odd)  { background: #f7f7f7 }
table tr:hover { background: #eee; }

.gauge-bg
{
	background: url('../images/gauge-bg.png') repeat-x;
	width: 80px !important;
	height: 16px;
	vertical-align: middle;
}

.gauge-fg
{
	background: url('../images/gauge-fg.png') repeat-x;
	height: 100%;
}

.button
{
	background: #888;
	font-weight: bold;
	padding: 0.25em 0.5em;
	-moz-border-radius: 0.25em;
	border: 0;
	color: white;
	border-radius: 0.25em;
}

.button.current
{
	background: #555;
}

.button a
{
	color: white;
	text-decoration: none;
}

#add        { width: 22px; }
#duration   { width: 5em;  }
#popularity { width: 85px; }

#navigation
{
	margin-top: 2em;
	margin-bottom: 2em;
	text-align: center;
	width: 100%;
}

#navigation a.current
{
	color: black;
	padding: 5px;
	margin: 5px;
	background: #ccc;
}

#navigation a
{
	color: rgb(75, 75, 75);
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
	margin: 5px;
	background: #ddd;
}

#info
{
	border: 2px solid #aaa;
	padding: 1em;
	width: 40em;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin: 3em auto;
	top: 3em;
}

#copyright>p
{
	color: gray;
	font-size: x-small;
	text-align: center;
	margin: 0.5em;
}

